/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

/*html, body {
    background-image: url("/img/bg1.jpg");
}*/

.smart-style-4  #logo-group {
    background: #3a3f51 !important;
}

.smart-style-4 aside .minifyme {
    background: #3276b1;
}

.smart-style-4 aside .minifyme:hover {
    background: #65a9e4;
    color: #fff;
}

.smart-style-4 #logo-group span#activity {
    background: #3276b1;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3276b1), color-stop(1, #3276b1));
    border-color: #ffffff82;
}

/*.btn-success {
    color: #fff;
    background-color: #FF5722;
    border-color: #FF9800;
}*/

#logo-group>span {
    margin-top: 8px;
}

/*#logo img {
    width: 35px;
    filter: invert(100%);
}*/

.smart-style-4 .page-title>i:first-child {
    display: inline;
}

.lockscreen {
    height: auto;
    box-shadow: none;
}

.smart-form .label {
    font-weight: bold;
}

.modal-header {
    background: #3a3f51;
    color: white;
}

.modal .close {
    color: #fff;
    opacity: 0.5;
}

.modal .close:focus, .modal .close:hover {
    color: #fff;
    opacity: 0.9;
}

.smart-form .label.col {
    margin-bottom: 20px;
    color: #666;
}

section.col.col-5 select, section.col.col-5 option:checked {
    font-weight: bold;
}

/*.smart-form fieldset {
    padding-bottom: 25px;
}*/

fieldset:first-of-type {
    padding-top: 0;
}

.tb-only {
    overflow: auto;
    width: 100%;
}

#table_ads th{
    min-width: 60px;
}

#table_ads th.long, #table_report th, #table_contacts th.long{
    min-width: 110px;
}

#table_ads tr#ad-total, #table_report tr#ad-total{
    background-color: rgba(255, 247, 0, 0.31);
}

#table_ads td, #table_campaigns td, #table_campaigns th{
    min-width: 95px;
    max-width: 300px;
    word-wrap: break-word;
}

.table-profile {
    margin-top: 20px;
}

.table-profile thead tr th{
    font-weight: bold;
}

.table-profile td a {
    font-size: 30px;
}

.select2-container{
    width: 100%  !important;
}

.select2-selection__rendered {
    margin-left: 5px;
}

table#table_contact_details td:first-child {
    font-weight: bold;
}

table#table_contact_details td:last-child {
    word-break: break-all;
}

.c3_leaderboard, .revenue_leaderboard, .spent_leaderboard{
    text-align: center;
    max-height: 210px;
    overflow: auto;
}

#login-form header{
    border-top: 1px dashed #ddd;
    margin-bottom: 10px;
    background-color: #eee;
}

.require_field:after {
    content:" *";
    color: red;
}

.col.col-8 {
    padding: 0px;
}

.show_more, .show_less{
    margin-left: 10px;
    display: none;
}

.avatar {
    margin-bottom: 10px;
    max-width: 300px;
    max-height: 300px;
}

.avatar_profile {
    max-width: 120px;
    max-height: 120px;
}

fieldset
{
    border-top: 1px solid #ddd !important;
    margin: 0;
    xmin-width: 0;
    padding: 10px;
    margin-bottom: 15px!important;
    position: relative;
    border-radius:4px;
    background-color:#f5f5f5;
    padding-left:10px!important;
}

legend
{
    font-size:15px;
    font-style: italic;
    color: darkgrey;
    margin-bottom: 5px;
    width: 9%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px!important;
    background-color: #ffffff;
    margin-left: 25px!important;
}

legend a
{
    font-size:20px;
    font-style: italic;
    color: darkgrey;
}
legend a:hover a:visited a:focus
{
    color: darkgrey;
}
tr.is_export
{
    background-color: #739e73!important;
    color: white;
}
tr.is_export a.name_link, tr.olm_status_duplicated a.name_link, tr.olm_status_error a.name_link, tr.olm_status_success a.name_link
{
    color: white!important;;
}
label.export_label
{
    text-align: center;
    padding: 7px 0px 0px 10px;
}
input#limit
{
    padding-left: 3px;
}
.is_export select, .olm_status_duplicated select, .olm_status_error select, .olm_status_success select
{
    color: black!important;
}
#table_contacts th:first-child{
    width: 40px!important;
}
#table_contacts th.channel_long{
    min-width: 150px;
}

.rectangle {
    height: 10px;
    min-width: 30px;
    margin: 0px 0px 5px 3px;
    /*padding: 2px;*/
    float: right;
}
.border-top-1 {
    border-top: 4px solid #800000;
}
.border-top-2 {
    border-top: 4px solid #6A5ACD;
}
.border-top-3 {
    border-top: 4px solid #808080;
}
.border-top-4 {
    border-top: 4px solid #7CFC00;
}
.border-top-5 {
    border-top: 4px solid #FF8C00;
}
.border-top-6 {
    border-top: 4px solid #1E90FF;
}
.border-top-7 {
    border-top: 4px solid #000;
}
.border-top-8 {
    border-top: 4px solid #008000;
}
.border-top-9 {
    border-top: 4px solid #FFCCCC;
}
.border-top-10 {
    border-top: 4px solid #999933;
}
.border-top-11 {
    border-top: 4px solid #FF6600;
}
.border-top-12 {
    border-top: 4px solid #9999FF;
}
.border-top-13 {
    border-top: 4px solid #FF66FF;
}
.border-top-14 {
     border-top: 4px solid #000088;
}
.border-top-15 {
    border-top: 4px solid #000022;
}
.border-top-16 {
    border-top: 4px solid #99FF99;
}
.border-top-17 {
    border-top: 4px solid #33FF66;
}
.border-top-18 {
    border-top: 4px solid #FFCC33;
}
.border-top-19 {
    border-top: 4px solid #CCCC00;
}
.border-top-20 {
    border-top: 4px solid #CC0099;
}
.border-top-21 {
    border-top: 4px solid #990099;
}
.border-top-22 {
    border-top: 4px solid #FF3333;
}
.border-top-23 {
    border-top: 4px solid #009999;
}
.border-top-24 {
    border-top: 4px solid #006666;
}
#sub_report_tab {
    margin: 10px 0px 0px 0px;
}
div.chart{
    width: 98%;
}
.statistic{
    margin: 20px 20px 20px 20px;
    border: 1px solid #ccc;
}
.statistic-top-1{
    border-top: 4px solid #0000CD;
    width: 40px;
}
.statistic-top-2{
    border-top: 4px solid #FF0000;
    width: 40px;
}
.statistic-top-3{
    border-top: 4px solid #FF8C00;
    width: 40px;
}
#table_mol_helios th{
    width: 20%!important;
    /*min-width: 30px!important;*/
}
#table_helios_mol th{
    width: 20%!important;
    /*min-width: 30px!important;*/
}
#table_kpi th, #table_kpi_by_team th{
    font-size: 15px;
    color: white;
    /*border: none;*/
    background-color: #3276b1;
    font-weight: lighter;
    text-align: center;
    border-bottom: 3px solid #ccc!important;
}
div#wrapper_kpi, div#wrapper_kpi_by_team{
    overflow-x:auto;
    width: 100%;
    padding: auto;
    max-height: 480px;
}
.no-boder-top{
    border-collapse: separate;
    border-top: none!important;
}
#table_kpi, #table_kpi_by_team{
    border-collapse: separate;
    border-left: none!important;
    border-top: none!important;
    text-align: center;
    border-bottom: 3px solid #ccc!important;
}
.border-bold-right{
    border-right: 3px solid #ccc!important;
}
.no-border-right{
    border-right: none!important;
    border-left: none!important;
}
.total_text{
    font-weight: bold;
    color: white;
    background: #3176b1;
}
.gap_text{
    color: white;
    background: #eb5a47;
}
#table_kpi td.act, #table_kpi_by_team td.act{
    width: auto;
    white-space:nowrap;
}
#maketer, #team{
    width: 100%;
    padding-top: 20px;
}
.olm_status_success
{
    background-color: #5bc0de!important;
    color: white!important;
}
.olm_status_duplicated
{
    background-color: #f0ad4e!important;
    color: white!important;
}
.olm_status_error
{
    background-color: #d9534f!important;
    color: white!important;
}
.error_require_field
{
    padding: 0 1px;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #D56161;
}
.input_error
{
    background: #fff0f0;
    border-color: #A90329;
}
#inventory-filter
{
    padding: 0px 15px 0px 15px;
}
.border-bold-top{
    border-top: 3px solid #ccc!important;
}
.border-bold-bot{
    border-bottom: 3px solid #ccc!important;
}
.border-bold-top-bot-right{
    border-top: 3px solid #ccc!important;
    border-right: 3px solid #ccc!important;
    border-bottom: 3px solid #ccc!important;
}
.border-bold-top-bot{
    border-top: 3px solid #ccc!important;
    border-bottom: 3px solid #ccc!important;
}
.border-bold-bot-right{
    border-right: 3px solid #ccc!important;
    border-bottom: 3px solid #ccc!important;
}
div#wrapper_inventory{
    overflow-x:auto;
    width: 100%;
    padding: auto;
    max-height: 840px;
}
#table_inventory_report{
    border-collapse: separate;
    border-left: none!important;
    border-top: none!important;
    text-align: center;
    border-bottom: none!important;
    margin: 0;
}







