/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

/*html, body {
    background-image: url("/img/bg1.jpg");
}*/

.smart-style-4  #logo-group {
    background: #3a3f51 !important;
}

.smart-style-4 aside .minifyme {
    background: #3276b1;
}

.smart-style-4 aside .minifyme:hover {
    background: #65a9e4;
    color: #fff;
}

.smart-style-4 #logo-group span#activity {
    background: #3276b1;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3276b1), color-stop(1, #3276b1));
    border-color: #ffffff82;
}

.btn-success {
    color: #fff;
    background-color: #FF5722;
    border-color: #FF9800;
}

#logo-group>span {
    margin-top: 8px;
}

/*#logo img {
    width: 35px;
    filter: invert(100%);
}*/

.widget-caption .widget-unit {
    float: right;
    font-weight: bold;
}

.widget-kpi.text {
    padding: 5px 10px;
    color: #F44336;
}

.widget-progress .progress {
    margin-bottom: 0px;
}

.widget-caption.text {
    padding: 5px 10px;
}

.widget-revenue .widget-title {
    background-color: #E91E63;
    color: white;
}

.widget-revenue .progress-bar {
    background-color: #E91E63 !important;
}

.widget-revenue .widget-actual.text {
    padding: 0 14px;
    font-weight: bold;
    color: #E91E63;
}

.widget-c3 .widget-title {
    background-color: #3F51B5;
    color: white;
}

.widget-c3 .progress-bar {
    background-color: #3F51B5 !important;
}

.widget-c3 .widget-actual.text {
    padding: 0 14px;
    font-weight: bold;
    color: #3F51B5;
}

.widget-c3-cost .widget-title {
    background-color: #4CAF50;
    color: white;
}

.widget-c3-cost .progress-bar {
    background-color: #4CAF50 !important;
}

.widget-c3-cost .widget-actual.text {
    padding: 0 14px;
    font-weight: bold;
    color: #4CAF50;
}

.widget-budget .widget-title {
    background-color: #FF9800;
    color: white;
}

.widget-budget .progress-bar {
    background-color: #FF9800 !important;
}

.widget-budget .widget-actual.text {
    padding: 0 14px;
    font-weight: bold;
    color: #FF9800;
}

.smart-style-4 .page-title>i:first-child {
    display: inline;
}

.lockscreen {
    height: auto;
    box-shadow: none;
}

.smart-form .label {
    font-weight: bold;
}

.modal-header {
    background: #3a3f51;
    color: white;
}

.modal .close {
    color: #fff;
    opacity: 0.5;
}

.modal .close:focus, .modal .close:hover {
    color: #fff;
    opacity: 0.9;
}

.smart-form .label.col {
    margin-bottom: 20px;
    text-align: right;
}

section.col.col-5 select, section.col.col-5 option:selected {
    font-weight: bold;
}

.smart-form fieldset {
    padding-bottom: 25px;
}

fieldset:first-of-type {
    padding-top: 0;
}