tr:nth-child(even) {
    background: #fafafa;
}
tr:nth-child(odd) {
    background: #ffffff;
}
col:first-child {
    background: #2ea8e5;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.center {
    text-align: center;
}
.orange {
    color: #ED8515;
}
.blue {
    color: #157DEC;
}
.white {
    color: #ffffff;
}
.gray {
    color: #505050;
}
.yellow {
    color: #ffff33;
}
.bg-blue {
    background: #157DEC;
}
.font-medium {
    font-size: medium;
}
.inlineBlock {
    display: inline-block;
}
.table > tbody > tr > td {
    min-width: 30px;
    border-bottom: 1px solid #ddd;
}
.content {
    border: none 0px;
    overflow-x: scroll;
}
.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-tabs > li > a:hover {
    background-color: #f9f9f9;
    border-top: 1px solid #57889c;
}